<div class="pedidos-container">
  <div *ngFor="let order of orderResponses" class="pedido-card">
    <div class="pedido-header">
      <span class="pedido-title">PEDIDO</span>
      <span class="pedido-id">#{{order.orderId}}</span>
    </div>

    <div class="pedido-info">
      <div class="info-row">
        <span class="label">Nome:</span>
        <span class="value">{{order.userResponse.name}}</span>
      </div>
      <div class="info-row">
        <span class="label">Telefone:</span>
        <span class="value">{{order.userResponse.phone}}</span>
      </div>
      <div class="info-row">
        <span class="label">Endereço:</span>
        <span class="value">{{order.userResponse.address}}</span>
      </div>
    </div>

    <div class="pedido-footer">
      <span class="status">
        {{order.orderStatus}}
      </span>
      <span class="valor">R$ {{order.totalPrice.toFixed(2)}}</span>
    </div>
  </div>
</div>
