<mat-card class="status-card">
    <mat-card-header>
        <mat-card-title>Status do Pedido</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <p class="status-message">Aguarde alguns minutos, logo menos chegaremos com o seu Pedido!</p>

        <mat-stepper orientation="vertical" [linear]="true">
            <mat-step [completed]="getStepCompleted(OrderStatus.PREPARANDO)" [state]="getStepState(OrderStatus.PREPARANDO)">
                <ng-template matStepLabel>
              <span [class.active-step]="currentStatus === OrderStatus.PREPARANDO">
                Em Preparo
              </span>
                </ng-template>
            </mat-step>

            <mat-step [completed]="getStepCompleted(OrderStatus.PRONTO)" [state]="getStepState(OrderStatus.PRONTO)">
                <ng-template matStepLabel>
              <span [class.active-step]="currentStatus === OrderStatus.PRONTO">
                Pedido Pronto
              </span>
                </ng-template>
            </mat-step>

            <mat-step [completed]="getStepCompleted(OrderStatus.ENVIANDO)" [state]="getStepState(OrderStatus.ENVIANDO)">
                <ng-template matStepLabel>
              <span [class.active-step]="currentStatus === OrderStatus.ENVIANDO">
                Saiu Para Entrega
              </span>
                </ng-template>
            </mat-step>

            <mat-step [completed]="getStepCompleted(OrderStatus.ENTREGUE)" [state]="getStepState(OrderStatus.ENTREGUE)">
                <ng-template matStepLabel>
              <span [class.active-step]="currentStatus === OrderStatus.ENTREGUE">
                Pedido Entregue
              </span>
                </ng-template>
            </mat-step>
        </mat-stepper>
    </mat-card-content>

    <mat-card-actions class="card-actions">
        <button
                mat-raised-button
                color="primary"
                (click)="confirmDelivery()"
                *ngIf="currentStatus === OrderStatus.ENVIANDO">
            Pedido Recebido
        </button>
        <button mat-button (click)="close()">Fechar</button>
    </mat-card-actions>
</mat-card>
